.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;
    padding-top: 25px;
    margin-top: 150px;
    border-top: solid 2px gray;
    margin-bottom: 60px;
    p{
        margin: 0;
    }
    .ubicYCont{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
        font-size: 22px;
        margin-bottom: 35px;
        img{
            width: 24px;
        }
    }
    .ContRedes{
        display: flex;
        flex-direction: row;
        gap: 55px;
        padding: 20px;
        font-size: 40px;
        margin-bottom: 25px;
        .Logo{
            color: rgb(184, 180, 180);;
        }
        a{
            list-style: none;
            text-decoration: none;
        }
        img{
            width: 48px;
        }
    }
    @media (max-width:540px) {
        .ContRedes{
            padding: 5px;
            font-size: 28px;
            .Logo{
                color: rgb(184, 180, 180);;
            }
            a{
                list-style: none;
                text-decoration: none;
            }
            img{
                width: 38px;
            }
        }
    }
}