.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding-top: 25px;
    margin-top: 150px;
    border-top: solid 2px gray;
    .ubicYCont{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
        font-size: 22px;
        img{
            width: 24px;
        }
    }
    .ContRedes{
        display: flex;
        flex-direction: row;
        gap: 55px;
        padding: 20px;
        font-size: 40px;
        a{
            list-style: none;
            text-decoration: none;
        }
        img{
            width: 48px;
        }
    }
}