.ContHead{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    background: transparent;
    .PcFond{
        width: 100px;
        position: absolute;
        top: 30px;
        left: 40px;
        background: transparent;
        animation-name: pcFondo;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 9s;
    }
    .head1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        padding: 75px;
        text-align: center;
        width: 50%;
        font-size: 22px;
        p{
            background: transparent;
            font-size: 20px;
            text-align: start;
        }
        b{
            font-size: 38px;
            color: rgb(102, 191, 96);
        }
        h5{
            color: gray;
            margin-bottom: 8px;
            .Span{
                border-radius: 50px;
                background: transparent;
                padding: 0px 9px;
                margin: 10px;
                box-shadow: 0px -5px 20px 0px rgba(16, 152, 118, 0.342), 0px 5px 20px 0px rgb(7, 82, 43);
                filter: blur(2px);
            }
        }
        .ContRedes{
            display:flex;
            padding: 5px;
            gap: 15px;
            align-items: center;
            .tooltip {
                position: absolute;
                font-size: 12px;
                background: transparent;
                color: #bbbbbb;
                padding: 5px 8px;
                border-radius: 1px;
                box-shadow: 0 8px 8px rgba(16, 152, 118, 0.342);
                opacity: 0;
                pointer-events: none;
                transition: all 0.8s;
                margin-left: 35px;
            }
            
            .Logo{
                list-style: none;
                text-decoration: none;
                align-items: center;
                font-size: 29px;
                margin: 7px;
                color: rgb(184, 180, 180);
            }
            &:hover{
                .tooltip {
                    margin-bottom: 90px;
                    opacity: 2;
                    visibility: visible;
                }
                .D{
                    margin-left: 107px;
                }
                .G{
                    margin-left: -8px;
                }
                .L{
                    margin-left: 46px;
                }
            }
            img{
                width: 28px;
                height: 28px;
            }
        }
    }
    .head2{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        padding: 80px;
        align-items: center;
        text-align: center;
        z-index: 2;
        background: transparent;
        .cajaHabs{
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 90px;
        flex-wrap: wrap;
        margin-top: 30px;
        .ContHab{
            display: flex;
            animation-name: Habs;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-duration: 7s;
            img{
                transition: all 0.4s;
                width: 50px;
                height: 50px;
                &:hover{
                    transform: scale(1.4);
                }
            }
        }
    }

    }
    @media (max-width:540px) {
        .head2{
            padding: 20px;
            h3{
                background: transparent;
                font-size: 17px;
            }
        }
    }
}

.ConSpinner{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    p{
        padding-top: 15px;
        font-size: 15px;
    }
    .spinner {
        background-image: linear-gradient(rgb(18, 183, 76) 35%,rgb(0, 225, 255));
        width: 20px;
        height: 20px;
        animation: spinning82341 1.7s linear infinite;
        text-align: center;
        border-radius: 50px;
        filter: blur(1px);
        box-shadow: 0px -5px 20px 0px rgb(18, 183, 76), 0px 5px 20px 0px rgb(0, 225, 255);
    }
    
    .spinner1 {
        background-color: rgb(36, 36, 36);
        width: 20px;
        height: 20px;
        border-radius: 50px;
        filter: blur(10px);
    }
}


@keyframes spinning82341 {
    to {
    transform: rotate(360deg);
    }
}

@keyframes pcFondo {
    0% {
        transform: scale(1.1);
    }
    25%{
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.3);
    }
    75%{
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}


@media (max-width:1200px) { 
    .ContHead{
        .PcFond{
            width: 60px;
            left: 20px;
            top: 350px;
        }
        flex-direction: column;
        align-items: center;
        .head1{
            width: 80%;
            align-items: center;
        }
        .head2{
            width: 80%;
        }
    }
}

@keyframes Habs {
    0% {
        transform: rotatex(90deg);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scalex(-1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: rotatey(0deg);
    }
}