.ContHead{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    background: transparent;
    .PcFond{
        width: 100px;
        position: absolute;
        top: 30px;
        left: 40px;
        background: transparent;
        animation-name: pcFondo;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 9s;
    }
    .head1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        padding: 75px;
        text-align: center;
        width: 50%;
        font-size: 22px;
        b{
            font-size: 38px;
            color: rgb(16, 152, 118);
        }
        .ContRedes{
            display:flex;
            padding: 5px;
            gap: 15px;
            align-items: center;
            .tooltip {
                position: absolute;
                font-size: 12px;
                background: transparent;
                color: #bbbbbb;
                padding: 5px 8px;
                border-radius: 1px;
                box-shadow: 0 8px 8px rgba(16, 152, 118, 0.342);
                opacity: 0;
                pointer-events: none;
                transition: all 0.8s;
                margin-left: 35px;
            }
            
            .Logo{
                list-style: none;
                text-decoration: none;
                align-items: center;
                font-size: 29px;
                margin: 7px;
                color: rgb(184, 180, 180);
            }
            &:hover{
                .tooltip {
                    margin-bottom: 90px;
                    opacity: 2;
                    visibility: visible;
                }
                .D{
                    margin-left: 107px;
                }
                .G{
                    margin-left: -8px;
                }
                .L{
                    margin-left: 46px;
                }
            }
            img{
                width: 28px;
                height: 28px;
            }
        }
    }
    .head2{
        display: flex;
        width: 50%;
        padding: 80px;
        align-items: center;
        text-align: center;
        z-index: 2;
        background: transparent;
        h3{
            background: transparent;
            font-size: 21px;
        }
    }
    @media (max-width:540px) {
        .head2{
            padding: 20px;
            h3{
                background: transparent;
                font-size: 17px;
            }
        }
    }
}

@keyframes pcFondo {
    0% {
        transform: scale(1.1);
    }
    25%{
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.3);
    }
    75%{
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}


@media (max-width:1200px) { 
    .ContHead{
        .PcFond{
            width: 60px;
            left: 20px;
            top: 350px;
        }
        flex-direction: column;
        align-items: center;
        .head1{
            width: 80%;
            align-items: center;
        }
        .head2{
            width: 80%;
        }
    }
}