.ContMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
    .Tit{
        margin-top: 80px;
        border-bottom: solid 2px;
        text-align: center;
        &:hover{
            color: rgba(63, 198, 164, 0.884);
        }
    }
    h2{
        font-size: 34px;
        padding: 15px;
        margin: 20px 0;
    }
    .cajaHabs{
        display: flex;
        margin: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 60%;
        gap: 60px;
        .ContHab{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            .oculto{
                display: none;
                transition: all 0.4s;
                position: absolute;
                background: transparent;
            }
            img{
                margin-top: 20px;
                transition: all 0.4s;
                width: 150px;
                height: 150px;
            }
            &:hover{
                img{
                    transition: all 0.4s;
                    transform: scale(0.7);
                }
                .oculto{
                    transition: all 0.4s;
                    display: flex;
                    margin-top: 170px;
                }
            }
        }
    }
    .ContTitulos{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 45px;
        margin-top: 50px;
        img{
            width: 600px;
            
        }
    }
    .ContProyects{
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 100px;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        .CajProyects{
            text-align: center;
            display: flex;
            transition: all 0.6s;
            align-items: center;
            justify-content: center;
            list-style: none;
            text-decoration: none;
            align-content: center;
            gap: 15px;
            .imgNat{
                height: 400px;
                width: 230px;
            }
            h5{
                b{
                    padding: 2px;
                    color: rgba(63, 198, 164, 0.884);
                }
            }
            img{
                width: 520px;
                height: 280px;
            }
        }
        .Caj{
            margin: 20px;
            padding: 40px;
            border-radius: 8px;
            width: 40%;
            flex-direction: column;
            border-radius: 120px 0px 200px 0px;
            -moz-border-radius: 120px 0px 200px 0px;
            -webkit-border-radius: 120px 0px 200px 0px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.433) 0px 20px 30px;
                transform: scale(1.05);
            }
            img{
                border-radius: 100px 0px 200px 0px;
                -moz-border-radius: 100px 0px 200px 0px;
                -webkit-border-radius: 100px 0px 200px 0px;
            }
            .Link{
                font-size: 16px;
                margin: 12px;
                padding: 15px;
                text-decoration: none;
                color: white;
                width: 70%;
                align-self: center;
                border-radius: 120px 0px 200px 0px;
                -moz-border-radius: 120px 0px 200px 0px;
                -webkit-border-radius: 120px 0px 200px 0px;
                -webkit-box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 24px 2px rgba(63, 198, 164, 0.344);
                &:hover{
                    transform: scale(1.05);
                    box-shadow: 0px 0px 24px 2px rgb(63, 198, 164);
                }
            }
            .titLinks{
                display: flex;
                flex-direction: column;
            }
        }
    }
    @media (max-width:840px) {
        .cajaHabs{
            display: flex;
            margin: 20px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 60%;
            gap: 60px;
            .ContHab{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 15px;
                img{
                    width: 80px;
                    height: 80px;
                }
            }
        }
        .ContTitulos{
            img{
                width: 80%;
            }
        }
        .ContProyects{
            .CajProyects{
                padding: 55px;
                flex-wrap: wrap;
                width: 70%;
                img{
                    width: 100%;
                    height: 100%;
                    margin: 20px;
                }
                .imgNat{
                    width: 80%;
                    height: 30%;
                }
            }
        }
    }
    @media (max-width:1300px){
        .ContProyects {
            .CajProyects{
                flex-direction: column;
                img{
                    width: 100%;
                }
            }
        }
    }
}
