.navBar{
    display: flex;
    justify-content: center;
    .navLink{
        display: flex;
        list-style: none;
        text-decoration: none;
        color: rgb(16, 152, 118);
        padding: 20px;
        font-size: 24px;
        margin: 0 25px;
        margin-top: 10px;
        transition: all 0.6s;
        &:hover{
            color: rgb(17, 210, 162);
            transition: all 0.6s;
        }
    }
}

.navbar-toggler-icon{
    background-color: rgba(17, 210, 162, 0.514);
}
